<h1 mat-dialog-title>Sub-Category</h1>
<mat-error class="form-error" *ngIf="errorMessage != ''">{{errorMessage}}</mat-error>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option [value]="null">All</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    <span>{{category.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Sub-Category Name</mat-label>
            <input matInput formControlName="subCategoryName" required>
            <mat-error *ngIf="form.controls.subCategoryName.errors?.required">Name is required</mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="40" class="p-2">
        <p class="mt-1"><span class="uppercase fw-500">Image</span></p>
        <input-file formControlName="images" fileLimit="1" fileAccept="image/*"></input-file>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
</form>