  
  .table-container {
    height: calc(100vh - 535px);
  }
  
  .filter-controls {
    margin: 0px 15px 0px 15px;
  
    button {
      margin-right: 10px;
    }
  
    mat-form-field {
      margin-right: 10px;
      font-size: 0.8em;
    }
  
    mat-select {
      width: 100%;
    }
  
    .date-control {
      width: 198px !important;
    }
  
    .right {
      float: right;
    }
  
    mat-checkbox {
      margin-right: 1em;
    }
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 360px;
    min-width: 300px;
  }
  
  .zero-results {
    text-align: center;
    color: red;
    margin: 1em;
    font-weight: bold;
    font-size: 16px;
  }
  
  .actions {
    width: 60%;
  }
  
  .tile {
    text-align: right;
  
    .mat-icon {
      position: absolute;
      left: 4px;
      top: 50%;
      line-height: 0;
      font-size: 54px;
      opacity: 0.3;
    }
  
    h2 {
      font-weight: 500;
    }
  
    p {
      text-transform: uppercase;
    }
  }
  
  
  