<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Coupon List</h2>
        </div>
        <div class="filter-controls">
            <div class="row wrap">
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Search By Name</mat-label>
                    <input matInput placeholder="Search By Name" [(ngModel)]="searchText" autocomplete="off">
                </mat-form-field>
                <button mat-flat-button color="primary" (click)="onReset()">
                    <mat-icon>refresh</mat-icon> Reset
                </button>
                <button mat-raised-button color="primary" (click)="search()">
                    <mat-icon>search</mat-icon> search
                </button>

                <button mat-raised-button color="primary" (click)="openCategoryDialog(null)">
                    <mat-icon>add</mat-icon> Add Coupon</button>
            </div>
        </div>

        <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="tableDataSource">
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.couponId }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element"> {{ element.couponCode }} </td>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ValidFrom">
                    <th mat-header-cell *matHeaderCellDef> Valid From </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.validFrom }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ValidTo">
                    <th mat-header-cell *matHeaderCellDef> Valid To </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.validTo }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [checked]="element.status" (change)="updateStatus(element)">
                        </mat-slide-toggle>
                    </td>
                </ng-container>
                <ng-container matColumnDef="CreatedBy">
                    <th mat-header-cell *matHeaderCellDef> Created By </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.createdBy }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
                            (click)="edit(element.couponId)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                            (click)="remove(element)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- <mat-table #table [dataSource]="bogusDataSource">
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="Code">
                    <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="ValidFrom">
                    <mat-header-cell *matHeaderCellDef> Valid From </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="ValidTo">
                    <mat-header-cell *matHeaderCellDef> Valid To </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="CreatedBy">
                    <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="example-container">
                <mat-table #table [dataSource]="tableDataSource">
                    <ng-container matColumnDef="Id">
                        <mat-cell *matCellDef="let element"> {{ element.couponId }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Code">
                        <mat-cell *matCellDef="let element"> {{ element.couponCode }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Description">
                        <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ValidFrom">
                        <mat-cell *matCellDef="let element"> {{ element.validFrom }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ValidTo">
                        <mat-cell *matCellDef="let element"> {{ element.validTo }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Status">
                        <mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.status" (change)="updateStatus(element)">
                            </mat-slide-toggle>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="CreatedBy">
                        <mat-cell *matCellDef="let element"> {{ element.createdBy }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
                                (click)="edit(element.couponId)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                                (click)="remove(element)" color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="symbol">
                        <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHHeaderCellDef="displayedColumns" [style.min-height]="0"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
                <div class="zero-results" *ngIf="!tableDataSource || tableDataSource.length == 0">No records found</div>
            </div> -->
        </div>
        <mat-paginator #paginator [length]="totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="pageOptions" [showFirstLastButtons]="true" (page)="handlePageEvent($event)">
        </mat-paginator>
    </mat-card>
</div>