<div class="p-1">
    <mat-card>
<mat-card-header>
    <mat-card-title>{{(categoryId) ? 'Edit' : 'Add New'}} Category</mat-card-title>
</mat-card-header>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="categoryName" required>
                    <mat-error *ngIf="form.controls.categoryName.errors?.required">Name is required</mat-error> 
                </mat-form-field>
            </div>
            <div fxFlex="40" class="p-2"> 
                <p class="mt-1"><span class="uppercase fw-500">Image</span></p>  
                <input-file formControlName="images" fileLimit="1" fileAccept="image/*"></input-file>  
            </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" (click)="navigateToCateogryList()">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>

</form>
</mat-card-content>
</mat-card>
</div>
