<div class="p-1">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{(configurationId) ? 'Edit' : 'Add New'}} Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-md="50" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Configuraiton Type</mat-label>
                        <mat-select formControlName="configurationTypeId">
                            <mat-option [value]="null">All</mat-option>
                            <mat-option *ngFor="let item of configurationTypes" [value]="item.id">
                                <span>{{item.name}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="amount" required>
                        <mat-error *ngIf="form.controls.amount.errors?.required">Amount is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Effective Start Date</mat-label>
                        <input matInput [matDatepicker]="fromDate" formControlName="fromDate" required>
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                        <mat-error *ngIf="form.controls.fromDate.errors?.required">From Date is required</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-md="50" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Effective End Date</mat-label>
                        <input matInput [matDatepicker]="toDate" formControlName="toDate">
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                        <mat-error *ngIf="form.controls.toDate.errors?.required">To Date is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <button mat-raised-button color="warn" type="button" (click)="navigateToListPage()">Cancel</button>
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>