<div class="p-1">
    <mat-card>
<mat-card-header>
    <mat-card-title>{{(couponId) ? 'Edit' : 'Add New'}} Coupon</mat-card-title>
</mat-card-header>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
            <div fxFlex="100"  fxFlex.gt-md="50" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="couponCode" required>
                    <mat-error *ngIf="form.controls.couponCode.errors?.required">Code is required</mat-error> 
                </mat-form-field>
            </div>
            <div fxFlex="100"  fxFlex.gt-md="50" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" required>
                    <mat-error *ngIf="form.controls.description.errors?.required">Description is required</mat-error> 
                </mat-form-field>
            </div>
            <div fxFlex="100"  fxFlex.gt-md="50" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Valid From</mat-label>
                    <input matInput [matDatepicker]="validFrom" formControlName="validFrom" required>
                    <mat-datepicker-toggle matSuffix [for]="validFrom"></mat-datepicker-toggle>
                    <mat-datepicker #validFrom></mat-datepicker>
                    <mat-error *ngIf="form.controls.validFrom.errors?.required">Valid From is required</mat-error>
                </mat-form-field>
            </div>
            
            <div fxFlex="100"  fxFlex.gt-md="50" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Valid To</mat-label>
                    <input matInput [matDatepicker]="validTo" formControlName="validTo">
                    <mat-datepicker-toggle matSuffix [for]="validTo"></mat-datepicker-toggle>
                    <mat-datepicker #validTo></mat-datepicker>
                    <mat-error *ngIf="form.controls.validTo.errors?.required">Valid To is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="40" class="p-2"> 
                <p class="mt-1"><span class="uppercase fw-500">Image</span></p>  
                <input-file formControlName="images" fileLimit="1" fileAccept="image/*"></input-file>  
            </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" (click)="navigateToListPage()">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>

</form>
</mat-card-content>
</mat-card>
</div>
